body {
 
}

*,*::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.main {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 3rem;
   gap: 5em;
}

.controls {
   display: grid;
   gap: 1rem;
}

#game {
   display: grid;
   place-items: center;
}

.grid {
   display: grid;
   grid-template-columns: repeat(16, auto);
   grid-template-rows: repeat(16, auto);
   cursor: pointer;
}

.box {
  border: 1px solid grey; 
  width: 40px;
  height: 30px
}
