body {
 
}

*,*::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.main {
   display: flex;
   justify-content: center;
   align-items: center;
}

.controls {
   
}

#game {
   display: grid;
   place-items: center;
}

.grid {
   display: grid;
   grid-template-columns: repeat(16, auto);
   grid-template-rows: repeat(16, auto);
}

.box {
  border: 1px solid grey; 
  width: 30px;
  height: 20px
}
