body {
}

*,*::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --default: white;
   --grid-lines: rgb(201, 201, 201);
   --controls: grey;
}


h1 {
   margin-bottom: 1em;
   color: #ffed66;
   text-shadow: 1px 1px 1px #000;
}

.main {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 8rem 0;
   gap: 6rem;
}

.controls {
   display: grid;
   gap: 1rem;
   padding: 1rem;
   border: solid #000;
   border-width: 1px  3px 3px 1px;
   border-radius: 5px;
}

.buttons-container {
   display: grid;
   gap: 1rem;
}

button {
   padding: 1em 4em;
   cursor: pointer;
   border: 1px  solid #000;
   border-radius: 5px;
   background: #fff;
   color: #000;
   font-weight: bold;
   transition: 0.3s all;
   box-shadow: 2px 2px 5px grey;
}

input {
   border: none;
   width: 170px;
   height: 40px;
}

.grid-container {
   text-align: center;
   padding: 3rem;
   border-radius: 10px;
   background: #F00;
   box-shadow: 3px 3px 5px #000;
}

#game {
   display: grid;
   place-items: center;
}

.grid {
   display: grid;
   grid-template-columns: repeat(16, auto);
   grid-template-rows: repeat(16, auto);
   cursor: pointer;
}

.box { 
  width: 40px;
  height: 30px;
  transition: 0.3s all;
  background: lightgrey;
}

.footer {
   text-align: center;
   font-size: 13px;
}

footer span a {
   margin: 0 7px;
   font-size: inherit;
}

a {
   color: blue;
}

a:hover {
   text-decoration: none;
   color: #F00;
}